{% extends "nightly.html" %}
{% load staticfiles %}

{% block sidebar %}

<nav class="nav flex-column nav-pills">
  <!--<a class="nav-link" href="/nightly">Nightly Tests</a>-->
  <!--<a class="nav-link" href="/nightly/add">Add New Test</a>-->
  <a class="nav-link active" href="/nightly/precision">Precision</a>
  <!--<a class="nav-link" href="/nightly/premodify">Precision Modification</a>-->
  <a class="nav-link" href="/nightly/status">Week Status</a>
  <a class="nav-link" href="/nightly/plot">Dataset Change Identification</a>
  <a class="nav-link" href="/nightly/compare">Dataset Compare</a>
  <a class="nav-link" href="/nightly/library">Dataset w.r.t. Library</a>
  <!--<a class="nav-link disabled" href="#">Disabled</a>-->
</nav>

{% endblock sidebar %}

{% block content %}

<div class="card">
     <form method="post" >{% csrf_token %}
            <div class="card-header">
                <div class="row" >
                    <div class="col-lg-9">
                        Precision Details:
                    </div>
                    <div class="col-lg-3">
                        <!--<button type="submit" class="btn btn-primary" name="add" value="Add">Add</button>-->
                        <div class="row">
                        Precision Modification:&nbsp;
                        <button type="submit" class="btn btn-primary" name="update" value="Update">Update</button>
                        </div>
                    </div>
                </div>
            </div>
     </form>

    <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Precision (%)</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in dict.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <h4></h4>
    <div class="form-group">
                  <div class="input-group mb-3">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.extra_tags}}" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
    </div>
</div>


{% endblock content %}