{% extends "nightly.html" %}
{% load staticfiles %}


{% block sidebar %}

<nav class="nav flex-column nav-pills">
  <!--<a class="nav-link" href="/nightly">Nightly Tests</a>-->
  <!--<a class="nav-link" href="/nightly/add">Add New Test</a>-->
  <a class="nav-link" href="/nightly/precision">Precision</a>
  <a class="nav-link" href="/nightly/premodify">Precision Modification</a>
  <a class="nav-link" href="/nightly/status">Week Status</a>
  <a class="nav-link" href="/nightly/plot">Dataset Change Identification</a>
  <a class="nav-link active" href="/nightly/compare">Dataset Compare</a>
  <a class="nav-link" href="/nightly/library">Dataset w.r.t. Library</a>
  <!---<a class="nav-link disabled" href="#">Disabled</a>-->
</nav>

{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-header">
        Search for Specific Dataset
    </div>
    <div class="card-body">
      <form method="post" >{% csrf_token %}

          <div class="card">
            <div class="card-header">
                Dataset 1
            </div>
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Dataset</span>
                    </div>
                    <select class="form-control" onchange="FilterChains('datasetid1','chainid1')" id="datasetid1" name="datasetid1" >
                        <option selected> Choose the Dataset</option>
                      {% for key,value in datasets.items %}
                        <option>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Chain</span>
                    </div>
                    <select class="form-control" onchange="FilterYears('datasetid1','chainid1','yearid1')" id="chainid1" name="chainid1" >
                      <option selected> Choose the chain</option>
                      <!---{% for key,value in chainlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %} -->
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Year</span>
                    </div>
                    <select class="form-control" id="yearid1" name="yearid1">
                      <option selected> Choose the year</option>
                      <!--{% for key,value in yearlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %}-->
                    </select>
                  </div>
                </div>
            </div>
          </div>
          <h4></h4>
          <div class="card">
            <div class="card-header">
                Dataset 2
            </div>
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Dataset</span>
                    </div>
                    <select class="form-control" onchange="FilterChains('datasetid2','chainid2')" id="datasetid2" name="datasetid2" >
                        <option selected> Choose the Dataset</option>
                      {% for key,value in datasets.items %}
                        <option>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Chain</span>
                    </div>
                    <select class="form-control" onchange="FilterYears('datasetid2','chainid2','yearid2')" id="chainid2" name="chainid2" >
                      <option selected> Choose the chain</option>
                      <!---{% for key,value in chainlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %} -->
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Year</span>
                    </div>
                    <select class="form-control" id="yearid2" name="yearid2">
                      <option selected> Choose the year</option>
                      <!--{% for key,value in yearlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %}-->
                    </select>
                  </div>
                </div>
            </div>
          </div>
        <h4></h4>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">Start time</span>
            </div>
            <input type="date" id="starttime" name="starttime">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">End time</span>
            </div>
            <input type="date" id= "endtime" name="endtime">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">Select Parameter</span>
            </div>
            <select class="form-control" id="paraid" name="paraid">
              <option selected> Choose the Parameter</option>
              {% for key,value in parameters.items %}
                <option>{{ key }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" name="graph" value="graph">Graph</button>

      </form>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>


function FilterChains(dataset,chains)
{
      var e = document.getElementById(dataset);
      var strdataset = e.options[e.selectedIndex].text;
      var chainlist = [];
      var count = 0;
      {% for key,value in combodict.items %}
          if("{{ value.1 }}" == strdataset)
          {   chainlist[count]= "{{ value.2 }}";
              count = count + 1;
          }
      {% endfor %}
      chainlist.sort();
      var select = document.getElementById(chains);
      for(chain in chainlist) {
          select.options[select.options.length] = new Option(chainlist[chain]);
      }
}

function FilterYears(dataset,chain,yearid)
{
      var e = document.getElementById(dataset);
      var e1 = document.getElementById(chain);
      var strdataset = e.options[e.selectedIndex].text;
      var strchain = e1.options[e1.selectedIndex].text;

      var yearlist = [];
      var count = 0;
      {% for key,value in combodict.items %}
          if("{{ value.1 }}" == strdataset)
              if("{{ value.2 }}" == strchain)
              {     yearlist[count]= {{ value.3 }};
                    count = count + 1;
              }
      {% endfor %}
      yearlist.sort();
      var select = document.getElementById(yearid);
      for(year in yearlist) {
          select.options[select.options.length] = new Option(yearlist[year]);
      }
}


</script>
{% endblock script %}