{% extends "nightly.html" %}
{% load staticfiles %}

{% block sidebar %}

<nav class="nav flex-column nav-pills">
  <!--<a class="nav-link" href="/nightly">Nightly Tests</a>-->
  <!--<a class="nav-link" href="/nightly/add">Add New Test</a>-->
  <a class="nav-link active" href="/nightly/precision">Precision</a>
  <!--<a class="nav-link" href="/nightly/premodify">Precision Modification</a>-->
  <a class="nav-link" href="/nightly/status">Week Status</a>
  <a class="nav-link" href="/nightly/plot">Dataset Change Identification</a>
  <a class="nav-link" href="/nightly/compare">Dataset Compare</a>
  <a class="nav-link" href="/nightly/library">Dataset w.r.t. Library</a>
  <!--<a class="nav-link disabled" href="#">Disabled</a>-->
</nav>

{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-header">
        Update the Precision for
    </div>
    <div class="card-body">
      <form method="post" >
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 200px;">Select the parameter</span>
              </div>
              <select class="form-control mdb-autocomplete" onchange="GetCurrentValue()" id="para" name="para">
                  <option selected> Choose the Parameter</option>
              {% for key,value in dict.items %}
                  <option>{{ key }}</option>
              {% endfor %}
              </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 200px;">Current Value (%) </span>
            </div>
            <input class="form-control" type="text" id="curval" name="curval">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width: 200px;">New Value (%) </span>
            </div>
            <input type="number" min="0" max="100" class="form-control" id="val" name="val" placeholder="enter the value (0~100)">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" name="update1" id="update1" value="update1">Update</button>
        <h4></h4>
        <!--<button type="submit" class="btn btn-primary" name="synch" id="synch" value="synch">Synchronise</button>-->
        <!--<h4></h4>-->
        <!--<p>Note: Be careful before clicking following button</p>-->
        <!--<button type="submit" class="btn btn-primary" name="reval" id="reval" value="reval">Re-evaluate</button>-->
        <!--<h4></h4>-->
        <div class="form-group">
          <div class="input-group mb-3">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <div class="alert alert-{{ message.extra_tags}}" role="alert">
                      <strong>{{ message }}</strong>
                  </div>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
</div>


{% endblock content %}

{% block script %}
<script>

function GetCurrentValue()
{
      var e = document.getElementById("para");
      var strpara = e.options[e.selectedIndex].text;
      {% for key,value in dict.items %}
          if("{{ key }}" == strpara)
              document.getElementById("curval").value = {{ value }};
      {% endfor %}
}

</script>
{% endblock script %}