{% extends "nightly.html" %}
{% load staticfiles %}


{% block sidebar %}

<nav class="nav flex-column nav-pills">
  <!--<a class="nav-link" href="/nightly">Nightly Tests</a>-->
  <!--<a class="nav-link" href="/nightly/add">Add New Test</a>-->
  <a class="nav-link" href="/nightly/precision">Precision</a>
  <!--<a class="nav-link" href="/nightly/premodify">Precision Modification</a>-->
  <a class="nav-link" href="/nightly/status">Week Status</a>
  <a class="nav-link" href="/nightly/plot">Dataset Change Identification</a>
  <a class="nav-link active" href="/nightly/compare">Dataset Compare</a>
  <a class="nav-link" href="/nightly/library">Dataset w.r.t. Library</a>
  <!---<a class="nav-link disabled" href="#">Disabled</a>-->
</nav>

{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-header">
        Search for Specific Dataset
    </div>
    <div class="card-body">
      <form method="post" >{% csrf_token %}

          <div class="card">
            <div class="card-header">
                Dataset 1
            </div>
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Year</span>
                    </div>
                    <select class="form-control" onchange="FilterDatasets('yearid1', 'datasetid1')" id="yearid1" name="yearid1">
                      <option selected> Choose the Year</option>
                      {% for year in yearlist %}
                        <option>{{ year }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Dataset</span>
                    </div>
                    <select class="form-control" onchange="FilterChains('yearid1', 'datasetid1','chainid1')" id="datasetid1" name="datasetid1" >
                        <option selected> Choose the Dataset</option>
                      <!--{% for key,value in datasets.items %}-->
                        <!--<option>{{ value }}</option>-->
                      <!--{% endfor %}-->
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Chain</span>
                    </div>
                    <select class="form-control" id="chainid1" name="chainid1" >
                      <option selected> Choose the Chain</option>
                      <!---{% for key,value in chainlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %} -->
                    </select>
                  </div>
                </div>
            </div>
          </div>
          <h4></h4>
          <div class="card">
            <div class="card-header">
                Dataset 2
            </div>
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Year</span>
                    </div>
                    <select class="form-control" onchange="FilterDatasets('yearid2', 'datasetid2')" id="yearid2" name="yearid2">
                      <option selected> Choose the Year</option>
                      {% for year in yearlist %}
                        <option>{{ year }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Dataset</span>
                    </div>
                    <select class="form-control" onchange="FilterChains('yearid2', 'datasetid2','chainid2')" id="datasetid2" name="datasetid2" >
                        <option selected> Choose the Dataset</option>
                      <!--{% for key,value in datasets.items %}-->
                        <!--<option>{{ value }}</option>-->
                      <!--{% endfor %}-->
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width:180px;">Select Chain</span>
                    </div>
                    <select class="form-control" id="chainid2" name="chainid2" >
                      <option selected> Choose the Chain</option>
                      <!---{% for key,value in chainlist.items %}
                        <option>{{ value }}</option>
                      {% endfor %} -->
                    </select>
                  </div>
                </div>
            </div>
          </div>
        <h4></h4>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">Start time</span>
            </div>
            <input type="date" id="starttime" name="starttime">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">End time</span>
            </div>
            <input type="date" id= "endtime" name="endtime">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="width:180px;">Select Parameter</span>
            </div>
            <select class="form-control" id="paraid" name="paraid">
              <option selected> Choose the Parameter</option>
              {% for key,value in parameters.items %}
                <option>{{ key }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" name="graph" value="graph">Graph</button>

      </form>
      <h4></h4>
      <div class="form-group">
                  <div class="input-group mb-3">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.extra_tags}}" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
      </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>

function FilterDatasets(yearid,datasetid)
{
      var e = document.getElementById(yearid);
      var stryearid = e.options[e.selectedIndex].text;
      var datasetlist = [];
      var count = 0;
      {% for key,value in combodict.items %}
          if("{{ value.3 }}" == stryearid)
          {
               if(!datasetlist.includes("{{ value.1 }}"))
               {
                datasetlist[count]= "{{ value.1 }}";
                count = count + 1;
               }
          }
      {% endfor %}
      //console.log('datasetid');
      //document.getElementById("datasetid").innerHTML = datasetlist;

      var select = document.getElementById(datasetid);
      for(dataset in datasetlist) {
          select.options[select.options.length] = new Option(datasetlist[dataset]);
      }
}

function FilterChains(yearid,datasetid,chainid)
{
      var e = document.getElementById(datasetid);
      var e1 = document.getElementById(yearid);
      var strdataset = e.options[e.selectedIndex].text;
      var stryearid = e1.options[e1.selectedIndex].text;
      var chainlist = [];
      var count = 0;
      {% for key,value in combodict.items %}
          if("{{ value.1 }}" == strdataset)
            if("{{ value.3 }}" == stryearid)
            {
               if(!chainlist.includes("{{ value.2 }}"))
               {
                   chainlist[count]= "{{ value.2 }}";
                   count = count + 1;
               }
            }
      {% endfor %}
      //console.log(chainlist);
      //document.getElementById("chainid").innerHTML = chainlist;

      var select = document.getElementById(chainid);
      for(chain in chainlist) {
          select.options[select.options.length] = new Option(chainlist[chain]);
      }
}


</script>
{% endblock script %}